{%load static%}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{%static 'blog/style.css'%}"/>
        <title>entry</title>
    </head>

    <body>
        <h1>Entry</h1>

        <div>
            <ol>
                <li><a href="{% url 'blog:home' %}">home</a></li>
                <li><a href="{% url 'blog:about' %}">about</a></li>
                <li><a href="{% url 'blog:tips' %}">tips</a></li>
                <li><a href="{% url 'blog:archive' %}">archive</a></li>
            </ol>
        </div>

    {% if blogPost %}
        <div class="post">

            <h2>{{blogPost.title}}</h2>
            <h3>Author: {{blogPost.author}}</h3>
            <h3>Date: {{blogPost.posted}}</h3>
            <p>{{blogPost.content}}</p>
            
        </div>
    {% else %}
        <p>No blog exists with that ID</p>
    {% endif %}
    
    {% if blogPost.comment_set.all %}

        {% for comment in blogPost.comment_set.all reversed %}

            <div class="comments">

                <p class="descr">Commenter: {{comment.commenter}}</p>
                <p class="bold">Email: {{comment.email}}</p>
                <p class="bold">Date: {{comment.posted}}</p>
                <p>{{comment.content}}</p>
                
            </div>
        {% endfor %}
    {% else %}
            <p>No comments exist for this post</p>
    {% endif %}
    
    <div class="comments"><a href="{% url 'blog:addcomment' blogPost.pk%}">Add Comment</a></div>
    </body>
</html>